@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Oddma Bank</title>
</head>
<body>
    <h1>Velkommen til Oddma Bank</h1>
    <div>
    </div>
</body>
</html>
