@model Nettbank.Models.Konto
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Opprett Konto</title>
</head>
<body>
    <div>
        <form action="/Konto/OpprettKonto" method="post">
            <table>
                <tr><td>Saldo : </td><td><input type="text" name="Saldo" /></td></tr>
                <tr><td>Kontoeiers ID : </td><td><input type="text" name="Kontoeier" /></td></tr>
                
                <tr><td></td></tr>
                <tr><td><input type="submit" value="Opprett Konto" /> </td></tr>
            </table>
        </form>
    </div>
</body>
</html>

