@model List<string>
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Registrer Betaling</title>
    <script src="~/scripts/jquery-3.1.1.js"></script>
    <script type="text/javascript">
        function hentKontoerAjax()
        {
            $("#KontoListe").load("/Konto/HentKonti", { kontoId: $("#idListe").val() });
        }

        function hentKontoerAjax1()
        {
            $.getJSON("/Konto/HentKonti1", { kontoId: $("#idListe").val() }, function (konto) {
                var ut = "Beløp på konto: ";
                for (var i in konto) {
                    ut += konto[i].saldo + "<br/>";
                }
                $("#KontoListe").html(ut);
            });
        }
    </script>
</head>
<body>
    <div>
        <form action="/Transaksjon/RegBet" data-ajax="true" data-ajax-mode="replace" method="post">
            <table>
                <tr><td>Fra Konto : </td>
                <td id="KontoListe">
                    <select id="idListe" onchange="hentKontoerAjax1()" name="UtK">
                        @foreach (var kontoId in Model)
                        {
                            <option>@kontoId</option>
                        }
                    </select>
                </td>
                </tr>
                <tr><td>Til Konto : </td><td><input type="text" name="InnK" /></td></tr>
                <tr><td>Beløp : </td><td><input type="text" name="Beløp" /></td></tr>
                <tr><td>KID : </td><td><input type="text" name="KID" /></td></tr>
                <tr><td>Melding : </td><td><input type="text" name="Meld" /></td></tr>
                <tr><td><input type="submit" value="Legg til betaling" /> </td></tr>
            </table>
        </form>
    </div>
</body>
</html>