@model Model.Konto
@{
    ViewBag.Title = "Opprett Konto";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Konti</h4>
            <hr />
            <div class="form-group">
                @Html.LabelFor(model => model.kontoNavn, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.kontoNavn, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Lagre" class="btn btn-success" />
                    @Html.ActionLink("Kontooversikt", "visTransaksjoner", "Transaksjon", new { tom = "" }, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    }
</body>
</html>

