
@{
    ViewBag.Title = "Hjem";
}
@model Nettbank.Models.Kunde

<h2>LøMey Bank - En bank for soknafjordingar!</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        @if ((bool)Session["LoggetInn"] == true)
        {
            <p style="color:forestgreen">Logget inn</p>
            <p> KundeId session: @Session["kundeId"] </p>
            <p>@Html.ActionLink("Kontooversikt", "ListKonti", "Konto")</p>


        }
        else
        {
            <p style="color:red">Ikke logget inn</p>
        }
        <p>
            Velkommen
        </p>
    </fieldset>
}
